body{
    height: 4011px;
    width: 1680px;
}

#divtete{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 779px;
    width: 1680px;


}

#fondtete{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    height: 100%;
    width: 100%;
    border-radius: 0px;
}

#menu{
    position: absolute;
left: 5.24%;
right: 5.3%;
top: 8.22%;
bottom: 77.02%;
height: 30%;

background: #FFFFFF;
box-shadow: 0px 10px 15px rgba(2, 2, 2, 0.1);
border-radius: 2px;
}

#logo{
        position: absolute;
    left: 5%;
    
    top: 30%;
    
    width: 10%;
    height: 40%;
}